body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    background-color: lightgrey;
    background-image: url("sources/first_bg.jpg");
}
label {
    font-size: 22px;
    margin-bottom: 5px;
    color:rgb(27, 27, 27)
}
.container {
    box-sizing: border-box;
    max-width: 1219px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3% 5% 3% 5%;
    background-color: rgb(139, 139, 139, 0.3);
    border-radius: 10px;
}
@media screen and (device-width: 1024px)  {
    .container {
        box-sizing: border-box;
        max-width: 1219px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 3% 5% 3% 5%;
        background-color: rgb(139, 139, 139, 0.3);
        border-radius: 10px;
    }
}
header {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
#name, #email, #number {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    color: rgb(26, 26, 26);
}
select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
button {
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(26, 26, 26);
    background-color: rgba(160, 160, 160,0.3);
    border: 0;
}
button:hover {
    box-shadow: 0 0 10px rgba(63, 66, 63, 0.904);
}
#title {
    margin-bottom: -15px;
    font-size: 50px;
}
#textarea {
    border-radius: 5px;
    height: 100px;
}
input[type=checkbox], input[type=radio] {
    transform: scale(1.5);
    margin-right: 10px;
}
input[type=checkbox]:hover, input[type=radio]:hover {
    transform: scale(1.6);
    margin-right: 10px;
}
.checkgroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
input:hover {
    transform: scale(1.01);
}
